# Environments
.env.local
.env
.venv

# Byte-compiled / optimized / DLL files
__pycache__/

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm

# Next.js build output
.next
out

# misc
**/DS_Store